Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans - A database is a structured collection of data is designed to efficiently store , retrive, manage information , databases are used to organize and store data in a way that allow for easy access , retrieval and manipulation of the data. They play a crucial role in many application and system, including website , business software and more.

- SQL 

SQL- SQL databases are based on a relational model, which means they use tables to store data, data is organized into rows and column and relationship between different datas entities are maintained through forign keys.

SQL databases are tradiionaly vertically scalable which means you can increase their capacity by adding more CPU RAM or storage to a single server . they may be less suited for handling high traffic loads or big data 

SQl databases are well suited for application where data integrity  and complex quering are important such as financial system , e-commerce platforms , and traditional relational data scenarios 

- NOSQL 

NOSQL databases do not use fixed schema and are more flexible in how they store data. They can use various data models including document-oriented(eg. Mongodb ) 

NoSQL datsbases oftem offer eventualy consistensy which means data may not always be immediately consistent across all nodes in distributed system. The trade off is often for better avaiblity ans partition tolerance 

NoSQL databases are often used in scenarios where flexiblity , scalablity , and speed are critical such as real time big application , content management system and iot application

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

Ans - DDl stands for data definition language , which is a subset of SQL used to defining and managing the structure and schema of a database.DDl statement are used to create , modify and delete databases objects such as tables ,indexes , and constraints . DDL statement do not manipulate the data whithin databses; instead they define the databses structure 

CREATE 

the CREATE statement is used to create new databses objects ,such as tables , indexes views or constaints 

Example

In [ ]:
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100)
);

DROP 
The DROP statement is used to delete existing databases objects Once an object is dropped. it is peramanently removed from the databases 

Example

In [ ]:
DROP TABLE Customers;

ALTER -
The ALTER statement is used to modify the structure of an existing databases object such as adding or removing columns or indexes 

example adding a new column to an existing table

In [ ]:
ALTER TABLE Customers 
ADD PhoneNumber VAECHAR(20);

TRUNCATE
The TRUNCATE statement is used to remove all rows from a table , but it retains the table structure it is a faster and less resoures -intensive way to remove data from a table compared to DELETE

Example

In [ ]:
TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

Ans - 
DML stands for Data Manipulation Language. It is a set of SQL commands used to manipulate and query the data stored in a database. It includes commands to insert, update, delete, and select data from tables:

INSERT It is used to add a new rows of data to an existing table. For example, you can use the INSERT INFO command to add a new user to the "users" table with the name "John", email john@gmail.com" and password "123345"

UPDATE: It is used to modify existing data in a table. For example, you can use the UPDATE command to change the email address of the user with the ID of 1 in the "users" table to "newemail@example.com"

DELETE It is used to remove data from a table. For example, you can use the DELETE FROM command to remove all the users from the "users" table who have not logged in for more than 6 months.

Q4 . What is DQL ? Explain SELECT with an example 

Ans - 
DQl stands for data query language , is a subset of SQL that is used for retrieving data from a relational databases. The primary and most commonly used DQL statement is SELECT . it allows you to query and retrieve data from one or more tables in a databases 

SELECT statment is used to retrieve data one or more tables in a databses. it can specify the column to be retrieved condition for filtering data and even perform operation like join and sorting 

EXAMPLE 

SELECT column1, column2, ...

FROM table_name

WHERE condition;

EXPAINATION 

column1, column2, ... - the column you want to retrieve from the data 

table_name : The name the table from which you want to retieve 

condition : (optional) specifies condition for filtering the data  it is used in th WHERE clause to limit the result to specify rows that meet certain criteria

Q5. Explain Primary Key and Foreign Key.

Ans - 
PRIMARY KEY - A primary key is a set of columns in a table that uniquely identifies each row of data in that table. It is used to enforce the integrity of the data by preventing duplicate or null values from being inserted into the table.

FOREIGN KEY :- A foreign key is a set of columns in a table that refers to the primary key of another table. It is used to create a relationship between two tables, allowing data to be linked and quried across multiples tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans -

In [ ]:
import mysql.connector 
mydb = mysql.connector.connect(
    host "localhost", 
    user "abc", 
    password="password"
)
mycursor mydb.cursor()

mycursor.execute("CREATE DATABASE if not exists test3")

mydb.close()

CURSOR METHOD - It is used to establish a cursor object in Python that allows you to interact with a database.

EXECUTE METHOD: It is used to execute an SQL query on a cursor object. It takes an SQL query as a parameter and returns the result of the query.

Q7. Give the order of execution of SQL clauses in an SQL query

Ans -
The order of execution of SQL clauses in a SQL query is as follows:

[1.] FROM clause: This clause specifies the tables from which the data is to be retrived.

[2] WHERE clause: This clause filters the data based on specific conditions.

[3] GROUP BY clause-- This clause filters the data based on specific columns.

[4] HAVING clause - This clause filters the grouped data based on specific.

[5] SELECT clause: This clause selects the columns to be included in the result set.

[6.] ORDER clause - This clause sorts the result set based on specific columns.

[7] LIMIT clause - This clause limits the number of rows returned by the query.